openapi: 3.2.0
info:
  description: 'This Swagger Page is for the FOIA Request Portal. Information about the FOIA Agency API can be found on the API Specs page.


    Authorization with API Key


    Use the Authorize button below to enter your api_key if you have one. You can signup for an API key or use the following api_key for testing.


    N4aCuDuJO8Ucf1FTR2EzVPZqo8NsSl1c7YLYOk8N


    Agency Component Entity ID


    You can use the Entity ID for Office of Information Policy in the examples below:

    8216158f-8089-431d-b866-dc334e8d4758'
  title: National FOIA Portal - JSON CFO Council API
  version: Versioning not supported
servers:
- url: https://api.foia.gov/api
security:
- APIKeyHeader: []
tags:
- name: CFO Council
paths:
  /node/cfo_council:
    get:
      summary: List CFO Councils
      description: Endpoint for the node--cfo_council resource type which will list all CFO Council Nodes.
      parameters:
      - name: page[limit]
        in: query
        required: false
        description: Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href="https://www.drupal.org/docs/8/modules/jsonapi/pagination" target="_blank">Learn more about Pagination in the Drupal documentation</a>.</p>
        schema:
          type: number
      - name: page[offset]
        in: query
        required: false
        description: <p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href="https://www.drupal.org/docs/8/modules/jsonapi/pagination" target="_blank">Learn more about Pagination in the Drupal documentation</a>.</p>
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: <p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href="https://www.drupal.org/docs/8/modules/jsonapi/sorting" target="_blank">Learn more about sorting in the Drupal documentation</a>.</p>
        schema:
          type: array
      - name: sort[sort-created][direction]
        in: query
        required: false
        description: You can change the sorting direction by using either <code>DESC</code> and <code>ASC</code>.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: Embed related entities in the JSON response under <code>relationships</code>. <p><a href="https://www.drupal.org/docs/8/modules/jsonapi/includes" target="_blank">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>node_type, revision_uid, uid, menu_link, field_council_committees</code></p>
        schema:
          type: string
      tags:
      - CFO Council
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:cfo_council Schema
                description: The main page for the Chief FOIA Officers Council.  Assign committees to the council.  Meetings will be automatically attached.
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/node--cfo_council/properties/data'
                  meta:
                    description: Non-standard meta-information that can not be represented as an attribute or relationship.
                    type: object
                    additionalProperties: true
                  links:
                    type: object
                    additionalProperties:
                      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object . '
                      type: object
                      required:
                      - href
                      properties:
                        href:
                          description: 'A string containing the link''s URL . '
                          type: string
                          format: uri - reference
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                additionalProperties: true
        '403':
          description: 'Forbidden: The api_key is missing'
      operationId: getNodeCfoCouncil
      x-operation-id-source: derived
  /node/cfo_council/{entity}:
    get:
      summary: Get CFO Council Details
      description: Endpoint for the node--cfo_council resource type. The individual endpoint contains the data for a particular CFO Council. You can use the CFO Council Entity ID 79440b59-6640-460a-8589-2ef2ce3f2bfe as an example.
      parameters:
      - name: entity
        required: true
        in: path
        description: The uuid of the node cfo_council
        schema:
          type: string
      tags:
      - CFO Council
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/node--cfo_council'
        '400':
          description: Syntax error
        '403':
          description: 'Forbidden: The api_key is missing'
        '404':
          description: Not Found
      operationId: getNodeCfoCouncilByEntity
      x-operation-id-source: derived
components:
  schemas:
    node--cfo_council:
      title: node:cfo_council Schema
      description: The main page for the Chief FOIA Officers Council.  Assign committees to the council.  Meetings will be automatically attached.
      type: object
      required:
      - data
      properties:
        data:
          description: \"Resource objects\" appear in a JSON:API document to represent resources.
          type: object
          required:
          - type
          - id
          properties:
            type:
              type: string
              title: type
              description: Resource type
              enum:
              - node--cfo_council
            id:
              type: string
              title: Resource ID
              format: uuid
              maxLength: 128
            attributes:
              description: Entity attributes
              type: object
              additionalProperties: false
              properties:
                drupal_internal__nid:
                  type: integer
                  title: ID
                drupal_internal__vid:
                  type: integer
                  title: Revision ID
                langcode:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Language code
                    language:
                      type: language_reference
                      title: Language object
                      description: The referenced language
                  required:
                  - value
                  title: Language
                revision_timestamp:
                  type: number
                  title: Revision create time
                  format: utc-millisec
                  description: The time that the current revision was created.
                revision_log:
                  type: string
                  title: Revision log message
                  description: Briefly describe the changes you have made.
                  default: ''
                status:
                  type: boolean
                  title: Published
                  default: true
                title:
                  type: string
                  title: Title
                  maxLength: 255
                created:
                  type: number
                  title: Authored on
                  format: utc-millisec
                  description: The time that the node was created.
                changed:
                  type: number
                  title: Changed
                  format: utc-millisec
                  description: The time that the node was last edited.
                promote:
                  type: boolean
                  title: Promoted to front page
                  default: false
                sticky:
                  type: boolean
                  title: Sticky at top of lists
                  default: false
                default_langcode:
                  type: boolean
                  title: Default translation
                  description: A flag indicating whether this is the default translation.
                  default: true
                revision_default:
                  type: boolean
                  title: Default revision
                  description: A flag indicating whether this was a default revision when it was saved.
                revision_translation_affected:
                  type: boolean
                  title: Revision translation affected
                  description: Indicates if the last edit of a translation belongs to current revision.
                moderation_state:
                  type: string
                  title: Moderation state
                  maxLength: 255
                  description: The moderation state of this piece of content.
                scheduled_transition_date:
                  type: array
                  title: Scheduled transition date
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        title: Date value
                        format: date
                    required:
                    - value
                scheduled_transition_state:
                  type: array
                  title: Scheduled transition state
                  items:
                    type: string
                    title: Text value
                    maxLength: 255
                scheduled_publication:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Date value
                      format: date
                  required:
                  - value
                scheduled_moderation_state:
                  type: string
                  title: Text value
                  maxLength: 255
                metatag:
                  type: object
                  title: Metatags (Hidden field for JSON support)
                  description: The meta tags for the entity.
                path:
                  type: object
                  properties:
                    alias:
                      type: string
                      title: Path alias
                    pid:
                      type: integer
                      title: Path id
                    langcode:
                      type: string
                      title: Language Code
                  title: URL alias
                body:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                    summary:
                      type: string
                      title: Summary
                  required:
                  - value
                  title: Body
              required:
              - title
              - revision_translation_affected
              - metatag
              - path
            relationships:
              description: Entity relationships
              type: object
              additionalProperties: false
              properties:
                node_type:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      properties:
                        type:
                          type: string
                          title: Referenced resource
                          enum:
                          - node_type--node_type
                        id:
                          type: string
                          title: Resource ID
                          format: uuid
                          maxLength: 128
                  title: Content type
                revision_uid:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      properties:
                        type:
                          type: string
                          title: Referenced resource
                          enum:
                          - user--user
                        id:
                          type: string
                          title: Resource ID
                          format: uuid
                          maxLength: 128
                  title: Revision user
                uid:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      properties:
                        type:
                          type: string
                          title: Referenced resource
                          enum:
                          - user--user
                        id:
                          type: string
                          title: Resource ID
                          format: uuid
                          maxLength: 128
                  title: Authored by
                menu_link:
                  type: object
                  properties:
                    data:
                      type: object
                      required:
                      - type
                      - id
                      properties:
                        type:
                          type: string
                          title: Referenced resource
                          enum:
                          - menu_link_content--menu_link_content
                        id:
                          type: string
                          title: Resource ID
                          format: uuid
                          maxLength: 128
                  title: Menu link
                field_council_committees:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - node--cfo_committee
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Committees
            links:
              type: object
              additionalProperties:
                description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object . '
                type: object
                required:
                - href
                properties:
                  href:
                    description: 'A string containing the link''s URL . '
                    type: string
                    format: uri - reference
                  meta:
                    description: Non-standard meta-information that can not be represented as an attribute or relationship.
                    type: object
                    additionalProperties: true
            meta:
              description: Non-standard meta-information that can not be represented as an attribute or relationship.
              type: object
              additionalProperties: true
          additionalProperties: false
        meta:
          description: Non-standard meta-information that can not be represented as an attribute or relationship.
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties:
            description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object . '
            type: object
            required:
            - href
            properties:
              href:
                description: 'A string containing the link''s URL . '
                type: string
                format: uri - reference
              meta:
                description: Non-standard meta-information that can not be represented as an attribute or relationship.
                type: object
                additionalProperties: true
        jsonapi:
          description: An object describing the server's implementation
          type: object
          properties:
            version:
              type: string
            meta:
              description: Non-standard meta-information that can not be represented as an attribute or relationship.
              type: object
              additionalProperties: true
          additionalProperties: false
      additionalProperties: true
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
