openapi: 3.2.0
info:
  description: 'This Swagger Page is for the FOIA Request Portal. Information about the FOIA Agency API can be found on the API Specs page.


    Authorization with API Key


    Use the Authorize button below to enter your api_key if you have one. You can signup for an API key or use the following api_key for testing.


    N4aCuDuJO8Ucf1FTR2EzVPZqo8NsSl1c7YLYOk8N


    Agency Component Entity ID


    You can use the Entity ID for Office of Information Policy in the examples below:

    8216158f-8089-431d-b866-dc334e8d4758'
  title: National FOIA Portal - JSON Annual FOIA Report Data API
  version: Versioning not supported
servers:
- url: https://api.foia.gov/api
security:
- APIKeyHeader: []
tags:
- name: Annual FOIA Report Data
paths:
  /annual_foia_report:
    get:
      summary: List Annual FOIA Reports
      description: 'Endpoint for listing Annual Reports. You must restrict the results returned when using this endpoint due to the high number of reports.

        offset results.'
      parameters:
      - name: page[limit]
        in: query
        required: true
        description: Limiting the result set to 10 reports is necessary due to the high number of Annual Reports. <p><a href="https://www.drupal.org/docs/8/modules/jsonapi/pagination" target="_blank">Learn more about Pagination in the Drupal documentation</a>.</p>
        schema:
          type: number
          maximum: 10
          minimum: 1
      - name: page[offset]
        in: query
        required: false
        description: <p>The offset is the result you want to start with.  An offset of 3 and a <code>page[limit]</code> of 10 will list ten items starting from item 3.  Each JSON response from the API will have built in pagination under <code>links</code>.</p><p><a href="https://www.drupal.org/docs/8/modules/jsonapi/pagination" target="_blank">Learn more about Pagination in the Drupal documentation</a>.</p>
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: <p>You can sort results in alphabetical order by multiple fields such as <code>title</code> or by author <code>uid.name</code>.</p><p><a href="https://www.drupal.org/docs/8/modules/jsonapi/sorting" target="_blank">Learn more about sorting in the Drupal documentation</a>.</p>
        schema:
          type: array
      - name: include
        in: query
        required: false
        description: Embed related entities in the JSON response under <code>relationships</code>. <p><a href="https://www.drupal.org/docs/8/modules/jsonapi/includes" target="_blank">Learn more in the documentation</a>.</p><p><h5>Possible values:</h5><code>field_admin_app_via, field_admin_app_vib, field_admin_app_vic1, field_admin_app_vic2, field_admin_app_vic3, field_admin_app_vic4, field_admin_app_vic5, field_admin_app_viie, field_agency, field_agency_components, field_fees_x, field_foia_pers_costs_ix, field_foia_requests_va, field_foia_requests_vb1, field_foia_requests_vb2, field_foia_requests_vb3, field_foia_xiia, field_foia_xiib, field_foia_xiic, field_foia_xiid1, field_foia_xiid2, field_foia_xiie1, field_foia_xiie2, field_pending_requests_vii_d_, field_proc_req_viia, field_proc_req_viib, field_proc_req_viic1, field_proc_req_viic2, field_proc_req_viic3, field_report_files, field_req_viiia, field_req_viiib, field_statute_iv, field_sub_xia, field_sub_xib</code></p>
        schema:
          type: string
      tags:
      - Annual FOIA Report Data
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.api+json:
              schema:
                title: node:annual_foia_report_data Schema
                description: Annual total data report given by an agency.
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/node--annual_foia_report_data/properties/data'
                  meta:
                    description: Non-standard meta-information that can not be represented as an attribute or relationship.
                    type: object
                    additionalProperties: true
                  links:
                    type: object
                    additionalProperties:
                      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object . '
                      type: object
                      required:
                      - href
                      properties:
                        href:
                          description: 'A string containing the link''s URL . '
                          type: string
                          format: uri - reference
                        meta:
                          description: Non-standard meta-information that can not be represented as an attribute or relationship.
                          type: object
                          additionalProperties: true
                  jsonapi:
                    description: An object describing the server's implementation
                    type: object
                    properties:
                      version:
                        type: string
                      meta:
                        description: Non-standard meta-information that can not be represented as an attribute or relationship.
                        type: object
                        additionalProperties: true
                    additionalProperties: false
                additionalProperties: true
      operationId: getAnnualFoiaReport
      x-operation-id-source: derived
  /annual_foia_report/fiscal_years:
    get:
      summary: 'Get Annual Report: Fiscal Years'
      description: Request Fiscal Years for Annual Reports.
      security:
      - APIKeyHeader: []
      tags:
      - Annual FOIA Report Data
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Syntax error
        '403':
          description: 'Forbidden: The api_key is missing'
        '404':
          description: Not Found
      operationId: getAnnualFoiaReportFiscalYears
      x-operation-id-source: derived
  /annual-report-xml/{agency}/{year}:
    get:
      summary: Individual Annual Reports in XML format are available via the Annual Report XML…
      description: Annual Report XML
      parameters:
      - name: agency
        in: path
        required: true
        description: <p>Agency Abbreviation such as <code>DOJ</code>.</p>
        schema:
          type: string
      - name: year
        in: path
        required: true
        description: <p>The four digit year to return data from.</p>
        schema:
          type: number
      tags:
      - Annual FOIA Report Data
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: 'Forbidden: The api_key is missing'
      operationId: getAnnualReportXmlByAgencyByYear
      x-operation-id-source: derived
components:
  schemas:
    node--annual_foia_report_data:
      title: node:annual_foia_report_data Schema
      description: Annual total data report given by an agency.
      type: object
      required:
      - data
      properties:
        data:
          description: \"Resource objects\" appear in a JSON:API document to represent resources.
          type: object
          required:
          - type
          - id
          properties:
            type:
              type: string
              title: type
              description: Resource type
              enum:
              - annual_foia_report_data
            id:
              type: string
              title: Resource ID
              format: uuid
              maxLength: 128
            attributes:
              description: Entity attributes
              type: object
              additionalProperties: false
              properties:
                status:
                  type: boolean
                  title: Published
                  default: false
                title:
                  type: string
                  title: Title
                  maxLength: 255
                field_agency_abbr:
                  type: string
                  title: Agency Abbreviation
                  maxLength: 255
                field_date_prepared:
                  type: string
                  title: Date Prepared
                  maxLength: 255
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_foia_annual_report_yr:
                  type: integer
                  title: FOIA Annual Report Year
                field_footnotes_iv:
                  type: array
                  title: Footnotes (IV.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        title: Text
                      format:
                        type: string
                        title: Text format
                    required:
                    - value
                field_footnotes_ix:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (IX.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_va:
                  type: array
                  title: Footnotes (V.A.)
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                        title: Text
                      format:
                        type: string
                        title: Text format
                    required:
                    - value
                field_footnotes_vb1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (V.B.(1).)
                field_footnotes_vb2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (V.B.(2).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vb3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (V.B.(3).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_via:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.A.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vib:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.B.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vic1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.C.(1).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vic2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.C.(2).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vic3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.C.(3).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vic4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.C.(4).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_vic5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VI.C.(5).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viia:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.A.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viib:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.B.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viic1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.C.(1).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viic2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.C.(2).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viic3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.C.(3).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viid:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.D.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viie:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VII.E.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viiia:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VIII.A.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_viiib:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (VIII.B.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_x:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (X.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xia:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XI.A.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xib:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XI.B.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xiia:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.A.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xiib:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.B.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xiic:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.C.)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xiid1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.D.(1).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_footnotes_xiid2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.D.(2).)
                field_footnotes_xiie1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.E.(1).)
                field_footnotes_xiie2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Footnotes (XII.E.(2).)
                  description: Allows entry of any free-format notes associated with this section of the report.
                field_overall_ix_eq_full_emp:
                  type: string
                  title: Agency Overall Number of "Equivalent Full-Time FOIA Employees"
                field_overall_ix_full_emp:
                  type: integer
                  title: Agency Overall Number of "Full-Time FOIA Employees"
                field_overall_ix_lit_costs:
                  type: string
                  title: Agency Overall Litigation-Related Costs
                field_overall_ix_proc_costs:
                  type: string
                  title: Agency Overall Processing Costs
                field_overall_ix_total_costs:
                  type: string
                  title: Agency Overall Total Costs
                field_overall_ix_total_staff:
                  type: string
                  title: Agency Overall Total Number of "Full-Time FOIA Staff"
                field_overall_req_pend_end_yr:
                  type: integer
                  title: Agency Overall Number of Requests Pending as of End of Fiscal Year
                field_overall_req_pend_start_yr:
                  type: integer
                  title: Agency Overall Number of Requests Pending as of Start of Fiscal Year
                field_overall_req_processed_yr:
                  type: integer
                  title: Agency Overall Number of Requests Processed in Fiscal Year
                field_overall_req_received_yr:
                  type: integer
                  title: Agency Overall Number of Requests Received in Fiscal Year
                field_overall_vb1_dup_request:
                  type: integer
                  title: Agency Overall Duplicate Request
                field_overall_vb1_fee_related_re:
                  type: integer
                  title: Agency Overall Fee-Related Reason
                field_overall_vb1_full_denials_e:
                  type: integer
                  title: Agency Overall Number of Full Denials Based on Exemptions
                field_overall_vb1_full_grants:
                  type: integer
                  title: Agency Overall Number of Full Grants
                field_overall_vb1_imp_req_oth_re:
                  type: integer
                  title: Agency Overall Improper FOIA Request for Other Reason
                field_overall_vb1_no_rec:
                  type: integer
                  title: Agency Overall No Records
                field_overall_vb1_not_agency_rec:
                  type: integer
                  title: Agency Overall Not Agency Record
                field_overall_vb1_oth:
                  type: integer
                  title: Agency Overall Other*
                field_overall_vb1_part_grants_de:
                  type: integer
                  title: Agency Overall Number of Partial Grants/Partial Denials
                field_overall_vb1_rec_not_desc:
                  type: integer
                  title: Agency Overall Records Not Reasonably Described
                field_overall_vb1_rec_ref_to_an_:
                  type: integer
                  title: Agency Overall All Records Referred to Another Component or Agency
                field_overall_vb1_req_withdrawn:
                  type: integer
                  title: Agency Overall Request Withdrawn
                field_overall_vb1_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_vb2_total:
                  type: integer
                  title: Agency Overall Total
                  description: Must match the number entered in the V. B. (1) section, field \'Agency Overall Other*\' for the agency.
                field_overall_vb3_ex_1:
                  type: integer
                  title: Agency Overall Ex. 1
                field_overall_vb3_ex_2:
                  type: integer
                  title: Agency Overall Ex. 2
                field_overall_vb3_ex_3:
                  type: integer
                  title: Agency Overall Ex. 3
                field_overall_vb3_ex_4:
                  type: integer
                  title: Agency Overall Ex. 4
                field_overall_vb3_ex_5:
                  type: integer
                  title: Agency Overall Ex. 5
                field_overall_vb3_ex_6:
                  type: integer
                  title: Agency Overall Ex. 6
                field_overall_vb3_ex_7_a:
                  type: integer
                  title: Agency Overall Ex. 7(A)
                field_overall_vb3_ex_7_b:
                  type: integer
                  title: Agency Overall Ex. 7(B)
                field_overall_vb3_ex_7_c:
                  type: integer
                  title: Agency Overall Ex. 7(C)
                field_overall_vb3_ex_7_d:
                  type: integer
                  title: Agency Overall Ex. 7(D)
                field_overall_vb3_ex_7_e:
                  type: integer
                  title: Agency Overall Ex. 7(E)
                field_overall_vb3_ex_7_f:
                  type: integer
                  title: Agency Overall Ex. 7(F)
                field_overall_vb3_ex_8:
                  type: integer
                  title: Agency Overall Ex. 8
                field_overall_vb3_ex_9:
                  type: integer
                  title: Agency Overall Ex. 9
                field_overall_via_app_pend_endyr:
                  type: integer
                  title: Agency Overall Number of Appeals Pending as of End of Fiscal Year
                field_overall_via_app_pend_start:
                  type: integer
                  title: Agency Overall Number of Appeals Pending as of Start of Fiscal Year
                field_overall_via_app_proc_yr:
                  type: integer
                  title: Agency Overall Number of Appeals Processed in Fiscal Year
                field_overall_via_app_recd_yr:
                  type: integer
                  title: Agency Overall Number of Appeals Received in Fiscal Year
                field_overall_vib_affirm_on_app:
                  type: integer
                  title: Agency Overall Number Affirmed on Appeal
                field_overall_vib_closed_oth_app:
                  type: integer
                  title: Agency Overall Number of Appeals Closed for Other Reasons
                field_overall_vib_comp_on_app:
                  type: integer
                  title: Agency Overall Number Completely Reversed/Remanded on Appeal
                field_overall_vib_part_on_app:
                  type: integer
                  title: Agency Overall Number Partially Affirmed & Partially Reversed/Remanded on Appeal
                field_overall_vib_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_vic1_ex_1:
                  type: integer
                  title: Agency Overall Ex. 1
                field_overall_vic1_ex_2:
                  type: integer
                  title: Agency Overall Ex. 2
                field_overall_vic1_ex_3:
                  type: integer
                  title: Agency Overall Ex. 3
                field_overall_vic1_ex_4:
                  type: integer
                  title: Agency Overall Ex. 4
                field_overall_vic1_ex_5:
                  type: integer
                  title: Agency Overall Ex. 5
                field_overall_vic1_ex_6:
                  type: integer
                  title: Agency Overall Ex. 6
                field_overall_vic1_ex_7_a:
                  type: integer
                  title: Agency Overall Ex. 7(A)
                field_overall_vic1_ex_7_b:
                  type: integer
                  title: Agency Overall Ex. 7(B)
                field_overall_vic1_ex_7_c:
                  type: integer
                  title: Agency Overall Ex. 7(C)
                field_overall_vic1_ex_7_d:
                  type: integer
                  title: Agency Overall Ex. 7(D)
                field_overall_vic1_ex_7_e:
                  type: integer
                  title: Agency Overall Ex. 7(E)
                field_overall_vic1_ex_7_f:
                  type: integer
                  title: Agency Overall Ex. 7(F)
                field_overall_vic1_ex_8:
                  type: integer
                  title: Agency Overall Ex. 8
                field_overall_vic1_ex_9:
                  type: integer
                  title: Agency Overall Ex. 9
                field_overall_vic2_app_denial_ex:
                  type: integer
                  title: Agency Overall Appeal Based Solely on Denial of Request for Expedited Processing
                field_overall_vic2_dup_req:
                  type: integer
                  title: Agency Overall Duplicate Request or Appeal
                field_overall_vic2_fee_rel_reas:
                  type: integer
                  title: Agency Overall Fee-Related Reason
                field_overall_vic2_imp_req_oth:
                  type: integer
                  title: Agency Overall Improper Request for Other Reason
                field_overall_vic2_no_rec:
                  type: integer
                  title: Agency Overall No Records
                field_overall_vic2_not_agency_re:
                  type: integer
                  title: Agency Overall Not Agency Record
                field_overall_vic2_oth:
                  type: integer
                  title: Agency Overall Other
                field_overall_vic2_rec_not_desc:
                  type: integer
                  title: Agency Overall Records Not Reasonably Described
                field_overall_vic2_rec_refer_ini:
                  type: integer
                  title: Agency Overall Records Referred at Initial Request Level
                field_overall_vic2_req_in_lit:
                  type: integer
                  title: Agency Overall Request in Litigation
                field_overall_vic2_req_withdrawn:
                  type: integer
                  title: Agency Overall Request Withdrawn
                field_overall_vic3_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_vic4_avg_num_days:
                  type: string
                  title: Agency Overall Average Number of Days
                  maxLength: 255
                field_overall_vic4_high_num_days:
                  type: string
                  title: Agency Overall Highest Number of Days
                  maxLength: 255
                field_overall_vic4_low_num_days:
                  type: string
                  title: Agency Overall Lowest Number of Days
                  maxLength: 255
                field_overall_vic4_med_num_days:
                  type: string
                  title: Agency Overall Median Number of Days
                  maxLength: 255
                field_overall_vic5_date_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_date_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Appeal
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_vic5_num_day_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_vic5_num_day_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viia_comp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viia_comp_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viia_comp_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viia_comp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viia_exp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viia_exp_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viia_exp_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viia_exp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viia_sim_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viia_sim_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viia_sim_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viia_sim_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viib_comp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viib_comp_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viib_comp_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viib_comp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viib_exp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viib_exp_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viib_exp_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viib_exp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viib_sim_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viib_sim_high:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Highest Number of Days
                field_overall_viib_sim_low:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Lowest Number of Days
                field_overall_viib_sim_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viic1_101_120_days:
                  type: integer
                  title: Agency Overall 101-120 Days
                field_overall_viic1_121_140_days:
                  type: integer
                  title: Agency Overall 121-140 Days
                field_overall_viic1_141_160_days:
                  type: integer
                  title: Agency Overall 141-160 Days
                field_overall_viic1_161_180_days:
                  type: integer
                  title: Agency Overall 161-180 Days
                field_overall_viic1_181_200_days:
                  type: integer
                  title: Agency Overall 181-200 Days
                field_overall_viic1_1_20_days:
                  type: integer
                  title: Agency Overall <1-20 Days
                field_overall_viic1_201_300_days:
                  type: integer
                  title: Agency Overall 201-300 Days
                field_overall_viic1_21_40_days:
                  type: integer
                  title: Agency Overall 21-40 Days
                field_overall_viic1_301_400_days:
                  type: integer
                  title: Agency Overall 301-400 Days
                field_overall_viic1_400_up_days:
                  type: integer
                  title: Agency Overall 400+ Days
                field_overall_viic1_41_60_days:
                  type: integer
                  title: Agency Overall 41-60 Days
                field_overall_viic1_61_80_days:
                  type: integer
                  title: Agency Overall 61-80 Days
                field_overall_viic1_81_100_days:
                  type: integer
                  title: Agency Overall 81-100 Days
                field_overall_viic1_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_viic2_101_120_days:
                  type: integer
                  title: Agency Overall 101-120 Days
                field_overall_viic2_121_140_days:
                  type: integer
                  title: Agency Overall 121-140 Days
                field_overall_viic2_141_160_days:
                  type: integer
                  title: Agency Overall 141-160 Days
                field_overall_viic2_161_180_days:
                  type: integer
                  title: Agency Overall 161-180 Days
                field_overall_viic2_181_200_days:
                  type: integer
                  title: Agency Overall 181-200 Days
                field_overall_viic2_1_20_days:
                  type: integer
                  title: Agency Overall <1-20 Days
                field_overall_viic2_201_300_days:
                  type: integer
                  title: Agency Overall 201-300 Days
                field_overall_viic2_21_40_days:
                  type: integer
                  title: Agency Overall 21-40 Days
                field_overall_viic2_301_400_days:
                  type: integer
                  title: Agency Overall 301-400 Days
                field_overall_viic2_400_up_days:
                  type: integer
                  title: Agency Overall 400+ Days
                field_overall_viic2_41_60_days:
                  type: integer
                  title: Agency Overall 41-60 Days
                field_overall_viic2_61_80_days:
                  type: integer
                  title: Agency Overall 61-80 Days
                field_overall_viic2_81_100_days:
                  type: integer
                  title: Agency Overall 81-100 Days
                field_overall_viic2_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_viic3_101_120_days:
                  type: integer
                  title: Agency Overall 101-120 Days
                field_overall_viic3_121_140_days:
                  type: integer
                  title: Agency Overall 121-140 Days
                field_overall_viic3_141_160_days:
                  type: integer
                  title: Agency Overall 141-160 Days
                field_overall_viic3_161_180_days:
                  type: integer
                  title: Agency Overall 161-180 Days
                field_overall_viic3_181_200_days:
                  type: integer
                  title: Agency Overall 181-200 Days
                field_overall_viic3_1_20_days:
                  type: integer
                  title: Agency Overall <1-20 Days
                field_overall_viic3_201_300_days:
                  type: integer
                  title: Agency Overall 201-300 Days
                field_overall_viic3_21_40_days:
                  type: integer
                  title: Agency Overall 21-40 Days
                field_overall_viic3_301_400_days:
                  type: integer
                  title: Agency Overall 301-400 Days
                field_overall_viic3_400_up_days:
                  type: integer
                  title: Agency Overall 400+ Days
                field_overall_viic3_41_60_days:
                  type: integer
                  title: Agency Overall 41-60 Days
                field_overall_viic3_61_80_days:
                  type: integer
                  title: Agency Overall 61-80 Days
                field_overall_viic3_81_100_days:
                  type: integer
                  title: Agency Overall 81-100 Days
                field_overall_viic3_total:
                  type: integer
                  title: Agency Overall Total
                field_overall_viid_comp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viid_comp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viid_comp_pend:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number Pending
                field_overall_viid_exp_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viid_exp_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viid_exp_pend:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number Pending
                field_overall_viid_sim_avg:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days
                field_overall_viid_sim_med:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days
                field_overall_viid_sim_pend:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number Pending
                field_overall_viie_date_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_date_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_viie_num_days_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viie_num_days_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_viiia_avg_days_jud:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days to Adjudicate
                field_overall_viiia_med_days_jud:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days to Adjudicate
                field_overall_viiia_num_denied:
                  type: integer
                  title: Agency Overall Number Denied
                field_overall_viiia_num_grant:
                  type: integer
                  title: Agency Overall Number Granted
                field_overall_viiia_num_jud_w10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number Adjudicated Within Ten Calendar Days
                field_overall_viiib_avg_days_jud:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Average Number of Days to Adjudicate
                field_overall_viiib_med_days_jud:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Median Number of Days to Adjudicate
                field_overall_viiib_num_denied:
                  type: integer
                  title: Agency Overall Number Denied
                field_overall_viiib_num_grant:
                  type: integer
                  title: Agency Overall Number Granted
                field_overall_x_perc_costs:
                  type: string
                  title: Agency Overall Percentage of Total Costs
                  description: The \"Percentage of Total Costs\" field is calculated by comparing the \"Fees Collected\" field with \"Processing Costs\" from section IX.
                field_overall_x_total_fees:
                  type: string
                  title: Agency Overall Total Amount of Fees Collected
                field_overall_xia_sub_used:
                  type: integer
                  title: Agency Overall Number of Times Subsection Used
                field_overall_xib_rec_post_foia:
                  type: integer
                  title: Agency Overall Number of Records Posted by the FOIA Office
                field_overall_xib_rec_post_prog:
                  type: integer
                  title: Agency Overall Number of Records Posted by Program Offices
                field_overall_xiia_back_app_end_:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Backlogged Appeals as of End of Fiscal Year
                field_overall_xiia_back_req_end_:
                  type: integer
                  title: Agency Overall Number of Backlogged Requests as of End of Fiscal Year
                field_overall_xiib_con_during_yr:
                  type: integer
                  title: Agency Overall Number of Consultations Received from Other Agencies During the Fiscal Year
                field_overall_xiib_pend_end_yr:
                  type: integer
                  title: Agency Overall Number of Consultations Received from Other Agencies that were Pending at the Agency as of End of the Fiscal Year
                field_overall_xiib_pend_start_yr:
                  type: integer
                  title: Agency Overall Number of Consultations Received from Other Agencies that were Pending at the Agency as of Start of Fiscal Year
                field_overall_xiib_proc_start_yr:
                  type: integer
                  title: Agency Overall Number of Consultations Received from Other Agencies that were Processed by the Agency During the Fiscal Year
                field_overall_xiic_date_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_date_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Date of Receipt
                  description: Date must be formatted as YYYY-MM-DDE.g. 1979-01-29
                field_overall_xiic_num_days_1:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_10:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_2:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_3:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_4:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_5:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_6:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_7:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_8:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiic_num_days_9:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Text
                      maxLength: 255
                    format:
                      type: string
                      title: Text format
                  required:
                  - value
                  title: Agency Overall Number of Days Pending
                field_overall_xiid1_proc_cur_yr:
                  type: integer
                  title: Agency Overall Number Processed During Fiscal Year from Current Annual Report
                field_overall_xiid1_proc_last_yr:
                  type: integer
                  title: Agency Overall Number Processed During Fiscal Year from Last Year's Annual Report
                field_overall_xiid1_received_cur:
                  type: integer
                  title: Agency Overall Number Received During Fiscal Year from Current Annual Report
                field_overall_xiid1_received_las:
                  type: integer
                  title: Agency Overall Number Received During Fiscal Year from Last Year's Annual Report
                field_overall_xiid2_back_cur_yr:
                  type: integer
                  title: Agency Overall Number of Backlogged Requests as of End of the Fiscal Year from Current Annual Report
                field_overall_xiid2_back_prev_yr:
                  type: integer
                  title: Agency Overall Number of Backlogged Requests as of End of the Fiscal Year from Previous Annual Report
                field_overall_xiie1_proc_cur_yr:
                  type: integer
                  title: Agency Overall Number Processed During Fiscal Year from Current Annual Report
                field_overall_xiie1_proc_last_yr:
                  type: integer
                  title: Agency Overall Number Processed During Fiscal Year from Last Year's Annual Report
                field_overall_xiie1_received_cur:
                  type: integer
                  title: Agency Overall Number Received During Fiscal Year from Current Annual Report
                field_overall_xiie1_received_las:
                  type: integer
                  title: Agency Overall Number Received During Fiscal Year from Last Year's Annual Report
                field_overall_xiie2_back_cur_yr:
                  type: integer
                  title: Agency Overall Number of Backlogged Appeals as of End of the Fiscal Year from Current Annual Report
                field_overall_xiie2_back_prev_yr:
                  type: integer
                  title: Agency Overall Number of Backlogged Appeals as of End of the Fiscal Year from Previous Annual Report
              required:
              - title
            relationships:
              description: Entity relationships
              type: object
              additionalProperties: false
              properties:
                field_admin_app_via:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_via
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Agency Overall Administrative Appeals VI. A. of Appeals Pending as of Start of Fiscal Year
                field_admin_app_vib:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_vib
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Administrative Appeals VI. B.
                field_admin_app_vic1:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_vic1
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Administrative Appeals VI. C. (1)
                field_admin_app_vic2:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_vic2
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Administrative Appeals VI. C. (2)
                field_admin_app_vic3:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_vic3
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Administrative Appeals VI. C. (3)
                field_admin_app_vic4:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
                            - paragraph--admin_app_vic4
                          id:
                            type: string
                            title: Resource ID
                            format: uuid
                            maxLength: 128
                  title: Administrative Appeals VI. C. (4)
                field_admin_app_vic5:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - type
                        - id
                        properties:
                          type:
                            type: string
                            title: Referenced resource
                            enum:
[...]
